:root {
    --clr-primary : hsl(170, 80%, 42%);
    --clr-text : white;
    --clr-grad : 
        linear-gradient(220deg, 
        rgba(0, 0, 0, 0.4705882353) 0%, 
        rgba(15, 57, 50, 0.431372549) 25%, 
        rgba(17, 83, 72, 0.3019607843) 50%, 
        rgba(18, 95, 82, 0.1803921569) 75%, 
        rgba(21, 193, 164, 0.2) 100%);
}
