// UTILITIES CLASSES

.containerFlex {
    display: flex;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(34 155 134 / 20%);
}

.f-col {
    display: flex;
    flex-direction: column;
}

.f-row {
    display: flex;
}

.f-between {
    justify-content: space-between;
}

.f-start {
    justify-content: flex-start;
}

.f-center {
    justify-content: center;
    align-items: center;
}

.f-alignCenter {
    align-items: center;
}

.text-align {
    text-align: center;
}

.text-start {
    text-align: start;
}

.mb3 {
    margin-bottom: 3rem;
}

.filter {
    background-color: rgba(0, 0, 0, 0.40);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.hidden {
    display: none;
}

.cutoff-text {
    --max-lines : 17;
    
    width: 100%;

    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}
