
// HEADER
.header {
    padding: 0.3rem 3rem;
    overflow: hidden;
    position: relative;

    & img {
        width: 100px;
    }

    & .headerNav {
        gap: 5vw;
    }
}

// BURGER
.burger {
    gap: 5px;
    border: solid 3px;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    display: none;

    & div {
        background-color: black;
        width: 35px;
        height: 4px;
    }
}


// MenuNav 

.menu {
    position: absolute;
    top: 37px;
    left: 70px;
    width: 0;
    z-index: 1000;
    overflow: hidden;
    display: none;

    & ul {
        border: solid 3px black;
        padding: 0.5rem 1rem;
        gap: 2vw;
        width: 100%;
        justify-content: center;
    }
}

.menuOutIn {
    animation: menuOutIn 1s forwards;
}

@keyframes menuOutIn {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}